route:
  receiver: telegram
  group_by: ['alertname']
receivers:
- name: telegram
  telegram_configs:
  - bot_token: '{{ telegram_bot_token }}'
    chat_id: '{{ telegram_chat_id }}'
    parse_mode: Markdown
    send_resolved: true

