name: CI/CD Pipeline - Build & Deploy #GitHub Actions on release in my project

on:
  push:
    tags: ['v*']  # v1.0, v2.0.3 → запуск

env:
  REGISTRY: docker.io/emdon2106/diplom-django
  IMAGE_TAG: ${{ github.ref_name }}  # v1.0 из тега

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build & Push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ${{ env.REGISTRY }}:${{ env.IMAGE_TAG }}
          ${{ env.REGISTRY }}:latest

  helm-deploy:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.14.0
    
    - name: Configure K8s
      uses: azure/k8s-set-context@v4
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBECONFIG }}
    
    - name: Deploy Helm chart
      run: |
        helm upgrade --install diplom-app ./helm \
          --namespace diplom-app \
          --create-namespace \
          --set image.repository=${{ env.REGISTRY }} \
          --set image.tag=${{ env.IMAGE_TAG }} \
          --wait --timeout 5m0s
